.reciept {
  background-color: white;
  border: 1px solid black;
  width: 400px;
  min-height: 400px;
  padding: 30px;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
}

.reciept__title,
.reciept__address {
  text-align: center;
}

.reciept__number {
  background-color: black;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.reciept__items__price {
  float: right;
}
